<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Ideas can chenge the world we live.Please do share ur ideas</p>
  <a href="/ideas/add" class="btn btn-dark btn-lg">Add ur Idea</a>
</div>